  * {
      margin: 0;
      padding: 0;
  }

  /* latin */
  @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin */
  @font-face {
      font-family: 'Maven Pro';
      font-style: normal;
      font-weight: 400;
      src: local('Maven Pro Regular'), local('MavenPro-Regular'), url(https://fonts.gstatic.com/s/mavenpro/v11/7Au9p_AqnyWWAxW2Wk3GzWQI.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  * {
      margin: 0;
      padding: 0;
  }

  body {
      display: grid;
      grid-template-columns: 1fr 1020px 1fr;
      grid-template-rows: 63px 695px 341px 600px 43px 100px;
  }

  .header {
      grid-column: 2;
      grid-row: 1;
      position: relative;
      font-family: 'Lato Bold', sans-serif;
      background: #323232;
      text-align: center;
      height: 63px;

  }

  .header_navigation_a {
      top: -25px;
      position: relative;
      text-transform: uppercase;
      font-size: 7.21379pt;
  }

  .header_navigation a {
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
  }

  a:hover {
      color: #2eb398;
      transition: 1s;
  }

  a:not(:hover) {
      transition: 3s;
  }

  .portfolio {
      margin-left: 8px;
      margin-right: 15px;
  }

  .about {
      margin-left: 5px;
      margin-right: 5px;
  }

  .blog {
      margin-left: 8px;
      margin-right: 5px;
  }

  .get {
      margin-left: 15px;
      margin-right: 5px;
  }

  .header_navigation img {
      margin-top: 10px;
      margin-left: 30px;
      margin-right: 26px;
  }

  .createTriagle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 24px 45px 0 45px;
      border-color: #323232 transparent transparent transparent;
      top: 18px;
      position: relative;
  }


  main {
      grid-column: 2;
      grid-row: 2/span 2;
      position: relative;
      margin-top: 38px;
      font-family: 'Maven Pro', sans-serif;
  }

  .main_section_hexals {
      grid-column: 2;
      grid-row: 2;
      position: relative;

  }

  .lineTopfirstSection {
      position: relative;
      text-align: center;
      min-width: 1020px;
      top: -41px;
  }

  .lineSepLeft {
      padding-right: 65px;
  }

  .lineSepRight {
      padding-left: 65px;
  }


  .hexagon {
      width: 182px;
      height: 209px;
      visibility: hidden;
      margin: 7px;
      transform: rotate(120deg);
      overflow: hidden;
      display: inline-block;
  }

  .hex-layer1 {
      width: 100%;
      height: 100%;
      visibility: hidden;
      transform: rotate(-60deg);
      overflow: hidden;
  }

  .hex-layer2 {
      width: 100%;
      height: 100%;
      background: #ccc3;
      visibility: visible;
      transform: rotate(-60deg);
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 50%;
  }

  .main_section_hexals_first {
      position: relative;
      text-align: center;
      min-width: 900px;
      top: 26px;
  }

  .lineSepLeftcopy3 {
      position: relative;
      top: -59px;
      left: -7px;
  }

  .lineSepLeftcopy4 {
      position: relative;
      top: -59px;
      left: 7px;
  }

  .main_section_hexals_second {
      top: -32px;
      position: relative;
      text-align: center;
      min-width: 1000px;
  }

  .main_section_hexals_third {
      position: relative;
      top: -91px;

      text-align: center;
      min-width: 900px;
  }

  .hexagon:hover {
      transform: rotate(-180deg);
      transition: transform 1s ease-in;
  }

  .lineSepTop {
      position: relative;
      text-align: center;
      min-width: 980px;
      top: -39px;
  }

  .main_section_author {
      background: #2eb398;
      height: 341px;
      top: -31px;
      grid-column: 2;
      grid-row: 3;
      position: relative;
  }

  .main_section_author_article {
      grid-column: 2;
      grid-row: 3;
      position: relative;
      display: flex;
      width: 980px;
      align-items: center;
  }

  .articleLineLeft {
      position: relative;
      left: 98px;
      top: 11px;
  }

  .articleLineRight {
      position: relative;
      left: -35px;
      top: 11px;
  }

  .main_section_author_article_imagePerson {
      margin: 25px 0px 0px 113px;
      position: relative;
      display: inline-block;
  }


  .person {
      width: 182px;
      height: 210px;
      visibility: hidden;
      margin: 5px;
      transform: rotate(120deg);
      overflow: hidden;
      display: inline-block;
      left: 120px;
      float: left;
  }

  .person-layer1 {
      width: 100%;
      height: 100%;
      visibility: hidden;
      transform: rotate(-60deg);
      overflow: hidden;
  }

  .person-layer2 {
      width: 100%;
      height: 100%;
      background: #ccc3;
      visibility: visible;
      transform: rotate(-60deg);
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 100%;

  }


  .main_section_author_article_imagePerson img {
      position: relative;
      left: -120px;
  }

  .main_section_author_article_text {
      margin-right: 40px;
      margin-left: 20px;
      margin-top: -16px;
      text-align: justify;
  }

  .Smith {
      font-size: 30px;
      color: rgba(215, 252, 245, 1);
      text-align: justify;
      margin-top: 35px;
      margin-left: -10px;
      margin-bottom: 0px;
  }

  .Illustrator {

      font-size: 18px;
      color: rgba(32, 129, 109, 1);
      text-align: justify;
      margin-top: -1px;
      margin-left: -7px;
      margin-bottom: 0px
  }


  .text {
      font-size: 12px;
      color: rgba(215, 252, 245, 1);
      text-align: justify;
      letter-spacing: -0.032em;
      line-height: 1.70em;
      margin-top: 17px;
      margin-left: -4px;
      margin-right: 15px;
      width: 578px;
  }

  .links {
      display: flex;
      margin-left: 427px;
      margin-top: 38px;
      background-color: #2eb398;
  }

  .main_section_footer {
      grid-column: 2;
      grid-row: 4;
      margin-top: -31px;
      background: rgba(50, 50, 50);
  }

  .main_section_footer_div {
      height: 564px;
      color: #e0e0e0;
      grid-column: 2;
      grid-row: 4;
      text-align: center;
  }

  form {

      display: inline-block;
      width: 580px;
      margin-top: 41px;
  }

  .textsize30 {
      font-size: 30px;
      font-family: 'Maven Pro', sans-serif;
      text-align: left;
  }

  .textsize18 {
      font-size: 18px;
      font-family: 'Maven Pro', sans-serif;
      text-align: left;
      margin-bottom: 4px;
  }

  .formInput {
      background-color: #454545;
      color: #bebebe;
      font-family: 'Lato Bold', sans-serif;
      font-size: 12px;
      height: 38px;
      width: 98%;
      border: 0px;
      margin-top: 16px;
      position: relative;
      padding-left: 11px;
  }

  .textarea {
      background-color: #454545;
      color: #bebebe;
      font-family: 'Lato Bold', sans-serif;
      font-size: 12px;
      height: 136px;
      width: 97%;
      border: 0px;
      padding-left: 13px;
      padding-top: 12px;
      margin-top: 16px;
  }

  .send {
      position: relative;
      left: 243px;
      top: 11px;
      font-family: 'Lato Bold', sans-serif;
      font-size: 12px;
      color: rgba(215, 252, 245, 255);
      text-align: justify;
      height: 37px;
      width: 90px;
      background: #2eb398;
      border: 0px;
      text-align: center;
      text-transform: uppercase;
  }

  .textRightForm {
      display: inline-block;
      width: 180px;
      margin: 112px 0px 0px 17px;
      font-family: 'Lato Bold', sans-serif;
      font-size: 12px;
      color: #bebebe;
      text-align: justify;
      position: relative;
      letter-spacing: 0.0em;
      line-height: 1.75em;
  }

  .Quesque {
      font-weight: bold;
  }

  .textRightForm_contacts {
      margin-top: 37px;
  }

  .email {
      margin-left: 10px;
  }


  .lineSepBottom1 {
      position: relative;
      text-align: center;
      min-width: 980px;
      top: 1px;
  }

  .lineSepBottom2 {
      position: relative;
      text-align: center;
      min-width: 980px;
      top: 51px;
  }

  .footer {
      grid-column: 2;
      grid-row: 5;
      margin-top: -10px;
  }

  .bottom {
      height: 43px;
      background-color: #222222;
      font-size: 12px;
      color: rgba(69, 69, 69, 1);
      align-items: center;
      padding-left: 39px;
      padding-top: 15px;
  }


  .links a:hover {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
  }

  .main_section_author_article_imagePerson:hover {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      transition: 2s;
  }

  .main_section_author_article_imagePerson:not(:hover) {
      transition: 3s;
  }

  .php {
      display: none;
  }

  .newTarget {
      position: fixed;
      padding: 25px;
      z-index: 1;
      background: rgba(215, 252, 245, .45);
      color: rgba(215, 252, 245, 1);
      font-size: 2rem;
      font-weight: bold;
      box-shadow: 1px 0px 8px 8px rgba(46, 179, 152, .50);
      border-radius: 5px;
      width: 380px;
  }

  .newTarget .close {
      text-align: right;
      cursor: pointer;
      color: rgba(46, 179, 152, 1);
  }

  .container-form-text {
      display: flex;
      flex-wrap: wrap;
      margin-left: 121px;
  }

  @media (min-width: 320px) and (max-width: 800px) {
      body {
          display: grid;
          grid-template-columns: 0px 100vw 0px;
          grid-template-rows: repeat(auto-fill, 50px);
      }

      .header_navigation_a {
          font-size: 1.5vw;
      }

      .about {
          padding-left: 3vw;
          padding-right: 3vw;
      }

      .blog {

          padding-left: 3vw;
          padding-right: 3vw;
      }

      .header_navigation img {
          margin-top: 1vw;
      }


      .lineTopfirstSection {
          display: none;
      }

      .lineSepLeft {
          display: none;
      }

      .lineSepRight {
          display: none;
      }


      .hexagon {
          width: 140px;
          margin: 5px;
      }

      .main_section_hexals_first {
          min-width: 363px;
          top: 0px;
      }

      .main_section_hexals_second {
          top: -90px;
          min-width: 363px;
      }

      .main_section_hexals_third {
          top: -180px;
          margin-bottom: -180px;
          min-width: 363px;
      }

      .lineSepLeftcopy3 {
          display: none;
      }

      .lineSepLeftcopy4 {
          display: none;
      }

      .lineSepTop {
          display: none;
      }

      .main_section_author_article {
          width: 100%;
          align-items: center;
      }

      .main_section_author_article_imagePerson {
          margin: auto 0px auto 40px;
      }



      .articleLineLeft {
          display: none;
      }

      .articleLineRight {
          display: none;
      }



      .main_section_author {
          top: 0;
      }

      .Smith {
          font-size: 4.5vw;
      }

      .Illustrator {
          font-size: 3vw;
      }


      .text {
          font-size: 1.8vw;
          width: 90%;
          margin: 0 0 15px 0;
          padding: 0;
      }

      .links {
          margin-left: auto;
          margin-top: 0px;
          display: inline;
      }

      .main_section_footer {
          margin-top: 0px;
      }

      .main_section_footer_div {
          height: 700px;
      }

      form {
          width: 90vw;
      }

      .formInput {
          font-size: 16px;
      }

      .textarea {
          font-size: 16px;
      }

      .send {
          left: 35vw;
      }

      .textRightForm {
          width: 90%;
          margin-top: 20px;
      }

      .Quesque {
          font-weight: bold;
      }

      .linkfooter {}

      .email {
          margin-left: 10px;
      }


      .lineSepBottom1 {
          display: none;
      }

      .lineSepBottom2 {
          display: none;
      }

      .container-form-text {
          margin-left: 20px;
      }

  }

  @media (max-width: 768px) {

      .hexagon {
          width: 130px;
          margin: 4px;
      }
  }

  @media (max-width: 708px) {

      .hexagon {
          width: 120px;
          margin: 3px;
      }

      .main_section_hexals_first {
          top: 0px;
      }

      .main_section_hexals_second {
          top: -106px;
      }

      .main_section_hexals_third {
          top: -212px;

          margin-bottom: -212px;
      }
  }

  @media (max-width: 648px) {
      .hexagon {
          width: 110px;
          margin: 2px;
      }

      .main_section_hexals_second {
          top: -115px;
      }

      .main_section_hexals_third {
          top: -229px;
          margin-bottom: -229px;
      }
  }

  @media (max-width: 588px) {

      .hexagon {
          width: 100px;
      }

      .main_section_hexals_first {
          top: -25px;
      }

      .main_section_hexals_second {
          top: -148px;
      }

      .main_section_hexals_third {
          top: -270px;
          margin-bottom: -270px;
      }
  }

  @media (max-width: 540px) {
      .hexagon {
          width: 90px;
          margin: 1px;
      }

      .main_section_hexals_first {
          top: -30px;
      }

      .main_section_hexals_second {
          top: -160px;
      }

      .main_section_hexals_third {
          top: -290px;
          margin-bottom: -290px;
      }
  }

  @media (max-width: 478px) {
      .hexagon {
          width: 80px;
      }

      .main_section_hexals_first {
          top: -35px;
      }

      .main_section_hexals_second {
          top: -174px;
      }

      .main_section_hexals_third {
          top: -313px;
          margin-bottom: -313px;
      }

      .person {
          width: 160px;
      }

      .main_section_author_article_imagePerson img {

          left: -105px;
          width: 376px;
          top: 13px;
      }

      .main_section_author_article_imagePerson {
          margin: auto 0px auto 0px;
      }

      .text {
          font-size: 2.3vw;
      }
  }

  @media (max-width: 428px) {
      .hexagon {
          width: 70px;
      }

      .main_section_hexals_first {
          top: -40px;
      }

      .main_section_hexals_second {
          top: -189px;
      }

      .main_section_hexals_third {
          top: -336px;
          margin-bottom: -336px;
      }
  }

  @media (max-width: 378px) {
      .hexagon {
          width: 60px;
      }

      .main_section_hexals_first {
          top: -45px;
      }

      .main_section_hexals_second {
          top: -194px;
      }

      .main_section_hexals_third {
          top: -341px;
          margin-bottom: -341px;
      }
  }
